<%- model_class = Story.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

  <% if current_user %>
    <h2>
      <%= current_user.twitter_handle %>
    </h2>
  <% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th> Votes </th>
      <th><%= model_class.human_attribute_name(:content) %></th>
      <th><%= model_class.human_attribute_name(:twitter_handle) %></th>
      <th><%= model_class.human_attribute_name(:story_id) %></th>
      <th><%= model_class.human_attribute_name(:tweeted_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @stories.each do |story| %>
      <tr data-id="<%= story.id %>">
        <td><%= story.rank %></td>
        <td><%= link_to story.content, story_path(story) %></td>
        <td><%= story.twitter_handle %></td>
        <td><%= story.story_id %></td>
        <td><%= time_ago_in_words(story.tweeted_at) %></td>
        <td>
          <% if current_user && !current_user.voted_on?(story) %>
            <%= link_to "<i class='icon-thumbs-up'></i> Up Vote".html_safe, story_votes_path(story), method: 'post', remote: true, class: 'btn btn-success btn-mini up_vote' %>
          <% elsif current_user %>
            <span class="label label-success">Voted</span>
          <% else %>

          <% end %>

          <% if current_user && current_user.admin? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_story_path(story), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        story_path(story),
                        :method => :delete,
                        :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                        :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_story_path,
            :class => 'btn btn-primary' %>
