<h1>Listing stories</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Twitter handle</th>
    <th>Story</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%= story.content %></td>
    <td><%= story.twitter_handle %></td>
    <td><%= story.story_id %></td>
    <td><%= link_to 'Show', story %></td>
    <td><%= link_to 'Edit', edit_story_path(story) %></td>
    <td><%= link_to 'Destroy', story, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Story', new_story_path %>
