<%- model_class = Story.new.class -%>

    <% @stories.each do |story| %>
      <div class = 'story well' data-id="<%= story.id %>">
              <p class = "pull-left">
          <% if current_user && !current_user.voted_on?(story) %>
            <%= link_to "<i class='icon-thumbs-up'></i>".html_safe, story_votes_path(story), method: 'post', remote: true %>
          <% end %>
        </p>
        <span class="contnet">
          <%=  auto_link(story.content, :url_target => '_blank').html_safe %>
        </span>
        <br />
        <span class='rank'><%= "#{story.vote_count} points" %>
        <%= "#{time_ago_in_words(story.tweeted_at)} ago".html_safe %>
        </span>
        <%= "by #{auto_link(story.twitter_handle).html_safe}".html_safe %>
        <%#= story.story_id %>
        <% if story.comments.present? %>
          <%= link_to 'comments', story %>
        <% else %>
          <%= link_to 'comment', story %>
        <% end %>

        </span>
        <% if current_user && current_user.admin? %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_story_path(story), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      story_path(story),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        <% end %>
      </div>
    <% end %>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_story_path,
            :class => 'btn btn-primary' %>
