<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @story.content %>
</p>

<p>
  <b>Twitter handle:</b>
  <%= @story.twitter_handle %>
</p>

<p>
  <b>Story:</b>
  <%= @story.story_id %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
