<%= render(partial: 'stories/story', locals: {story:@story}) %>

<% if @comments.count > 0 %>
  <h1>Discussion</h1>
  <div class="comments">
    <% @comments.each do |comment| %>
      <%= render(partial: 'comments/comment', locals: {story: comment}) %>
    <% end %>
  </div>
<% end %>

<% if @comments.empty? && current_user %>
  <h1>There are no comments for this story.</h1>
  <p>Start the discussion by submitting a comment below.</p>
<% elsif !@comments.empty? && current_user %>
  <h1>Continue the discussion by submitting a comment.</h1>
<% elsif @comments.empty? && !current_user %>
  <h1>There are no comments for this story.</h1>
  <p>Sign in to continue the discussion.</p>
<% elsif !@comments.empty? && !current_user %>
  <h1>Sign in to continue the discussion.</h1>
<% end %>

<% if current_user %>
  <%= form_for([@story, @story.comments.build(post_to_twitter:true)]) do |f| %>
    <div class="row comment-form">
      <div class="span1">
        <%= image_tag(@story.twitter_profile_image_url) %>
      </div>
      <div class="span8">
        <div class="control-group">
          <div class="controls">
            <%= f.text_area(:content, class: 'span9', rows: '7') %>
            <%= f.check_box(:post_to_twitter) %> Reply to <%= @story.twitter_handle %> on Twitter?
          </div>
        </div>

        <%= f.submit('Post Your Comment', class: 'btn btn-large btn-primary') %>
      </div>
    </div>
  <% end %>
<% end %>
