<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon-precomposed" href="/assets/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/apple-touch-icon-iphone4.png" />
    <title><%= content_for?(:title) ? yield(:title) : "#VegasTech Bulletin Board" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag('application', media: 'all') %>

    <link href="images/favicon.ico" rel="shortcut icon">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="offset1 span10 offset1">
          <div class="navbar">
            <div class="navbar-inner">
              <div class="container">
                <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </a>

                <a class="brand hidden-phone" href="/">#VegasTech Bulletin Board</a>
                <a class="brand visible-phone" href="/">#VegasTech BB</a>

                <div class="container nav-collapse">
                  <ul class="nav">
                    <li><%= link_to "Recent", recent_path  %></li>
                    <!-- <li><%= link_to "Photos", photos_path  %></li> -->
                    <li><%= link_to "Best of week", best_of_week_path  %></li>
                    <li><%= link_to "Jobs", "http://hirevegastech.com", target: 'new'  %></li>
                    <li class='dropdown visible-desktop'><%= link_to "Calendars", '#', :class => 'dropdown-toggle', "data-toggle" => "dropdown"  %>
                      <ul class = 'dropdown-menu'>
                        <li><%= link_to '/usr/lib Events Calendar', 'http://usrlib.org/events', target: 'new' %></li>
                        <li><%= link_to 'VegasTech.com Events Calendar', 'http://vegastech.com/events/', target: 'new'  %></li>
                        <li><%= link_to 'Ayloo Community Calendar', 'http://ayloo.net/mobile/calendar.php', target: 'new'  %></li>
                      </ul>
                    </li>
                    <li class='dropdown visible-desktop'><%= link_to "Coworking", '#', :class => 'dropdown-toggle', "data-toggle" => "dropdown"  %>
                      <ul class = 'dropdown-menu'>
                        <li><%= link_to '/usr/lib Coworking "light"', 'http://usrlib.org/', target: 'new' %></li>
                      <li><%= link_to 'CoBiz Coworking', 'http://cobizcoworking.com/', target: 'new'  %></li>
                      <li><%= link_to 'The InNEVation Center Coworking', 'http://www.switchnap.com/pages/all-things-switch/switch-innevation.php', target: 'new'  %></li>
                      </ul>
                    </li>
                    <li class='hidden-desktop'><%= link_to '/usr/lib Events Calendar', 'http://usrlib.org/events', target: 'new' %></li>
                    <li class='hidden-desktop'><%= link_to 'VegasTech.com Events Calendar', 'http://vegastech.com/events/', target: 'new'  %></li>
                    <li class='hidden-desktop'><%= link_to 'Ayloo Community Calendar', 'http://ayloo.net/mobile/calendar.php', target: 'new'  %></li>
                  </ul>
                  <ul class="nav pull-right">
                    <% if logged_in? %>
                      <li>
                        <%= link_to('<i class="icon-user icon-white"></i>'.html_safe + current_user.twitter_handle, '#') %>
                        <li><%= link_to "Sign out", "/sessions/destroy", method: 'delete'  %></li>
                      </li>
                    <% else %>
                      <li><%= link_to(image_tag('bird_black_16_0.png', class: 'black_bird') + "Sign in", "/auth/twitter")  %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <div class="row">
           <div class="offset1 span10 offset1">
              <% unless flash[:notice].blank? %>
                <div class="alert alert-success fade in">
                  <a class="close" data-dismiss="alert" href="&times;">×</a>
                  <h3><%= flash[:notice] %> </h3>
                </div>
              <% end %>

              <% if logged_in? %>
                <div class="alert alert-info hidden-desktop">
                  <center>
                    <%= "Currently signed in as #{current_user.twitter_handle}" %>
                  </center>
                </div>
              <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="footer">
            <p>&copy; <%= Date.today.year %> - A Project by <%= link_to('The Las Vegas Ruby User Group', 'http://lvrug.org', target: '_blank') %> (<%= link_to('@LVRUG', 'http://twitter.com/lvrug', target: '_blank') %>)</p>
            <p><%= link_to(image_tag(asset_path('lvrug_logo.png')), 'http://lvrug.org', target: '_blank') %></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag('application') %>

    <!-- Beging Google Analytics Code -->

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33716623-1']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
